:root {
  --text-primary: #212121;
  --text-secondary: #757575;
  --accent: #FF5252;
  --primary-dark: #00796B;
  --primary: #009688;
  --text-icon: #FFFFFF;
}

html {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 24px;
  font-weight: 400;
  box-sizing: border-box;
  color: var(--text-icon);
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
}

header {
  background-color: var(--primary);
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header > h1 {
  margin: 0;
}

header > a { 
  color: var(--text-icon);
  border-bottom: 3px dotted var(--text-icon);
}

a {
  text-decoration: none;
  border-bottom: 3px dotted var(--primary);
  color: var(--text-primary);
}

a:hover, a:focus {
  color: var(--text-primary);
}

a:visited {
  color: var(-text-primary);
}

/* common -- utility */
.hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.appear {
  opacity: 1 !important;
}

.disappear {
  opacity: 0 !important;
}

.success {
  color: var(--primary);
}

.error {
  color: var(--accent);
}

/* common -- button */
button.solid, button.text {
  margin: 8px;
  height: 36px;
  min-width: 64px;
  background-color: var(--accent);
  color: white;
  font-size: 16px;
  border: none;
  padding: 0 16px 0 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

button.text {
  background-color: white;
  border: 1px solid rgba(0,0,0,.12);
  color: var(--accent);
  box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
}

.chips-container {
  list-style: none;
  padding-left: 0;
  font-size: 0.7rem;
  margin-top: 8px;
}

.chips-container > li {
  display: inline-block;
  padding: 4px 16px 8px 16px;
  background-color: var(--primary-dark);
  color: white;
  border-radius: 16px;
  margin-top: 8px;
  margin-left: 4px;
}

/* Notification host */
.notification-host {
  position: fixed;
  width: 100%;
  bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.notification-host > .snackbar {
  background-color: var(--text-primary);
  opacity: 0;
  z-index: 5;
  margin-top: 16px;
  padding: 16px;
  color: var(--text-icon);
  border-radius: 8px;
  box-shadow:  0px 4px 8px 4px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: opacity .5s ease-in;
}

/* add book form */
.add-book-section {
  margin-top: 24px;
  color: var(--text-primary);
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: top .3s ease-out;
}

#add-book-form > input {
  height: 36px;
  border: 1px solid var(--accent);
  border-radius: 5px;
  width: 400px;
  font-size: 0.8rem;
  display: block;
  margin: 16px 0 16px 0;
}

#add-book-form > label {
  font-size: 0.8rem;
}

#add-book-form > #add-book, #add-book-form > #search-book {
  margin-left: 0;
}

#add-book {
  width: 350px; /* same as image widht */
  margin-left: 0;
}

#add-book-form > .message {
  font-size: 0.8rem;
  margin: 8px 0 8px 0;
}

/* book search results */
#search-results {
  margin-top: 24px;
  display: flex;
  max-width: 50vw;
  justify-content: flex-start;
  align-items: flex-start;
}

#search-results > .book-details {
  margin-left: 32px;
}

/* #search-results h3, h5, h6 {
  /* margin: 0;
} */

#search-results h3 {
  margin: 0 0 16px 0;
}

#search-results a {
  color: var(--text-primary);
  font-size: 1.5rem;
}

#search-results h5.author-name, h6 {
  margin-top: 8px;
  color: var(--text-secondary);
}

#search-results h5.author-name::before {
  content: 'by ';
}

#search-results h6.published-years::before {
  content: 'Published:  ';
}

.book-shelf {
  flex-grow: 1;
  padding: 10px;
  color: var(--text-primary);
  text-align: center;
}

#fab-add {
  position: fixed;
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  bottom: 50px;
  right: 50px;
  background-color: var(--accent);
  border: none;
  color: var(--text-icon);
  font-size: 48px;
  transition: transform .1s ease-in-out;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

#fab-add:hover {
  transform: scale(1.2);
}

.book-open {
  width: 200px;
  border: .5px solid darkorchid;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-open .title {
  font-size: 1.5rem;
  text-align: center;
}